
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    min-height: 100vh;
}

html {
    color-scheme: dark light;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* https://www.youtube.com/shorts/2lyDv0wOQuQ */

body {
    background-color: #F9F6EE;
}

.content {
    width: min(8ch, 100% - 3rem);
    margin-inline: auto;
    color: black;
    text-align: center;
    justify-content: start;
    font-family: var(--font-f);
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 0.95;
    margin-block: 15rem;
    border: solid purple 2px;
    container-type: inline-size;
}

.one {
    font-size: 44.2cqw;
}

.two {
    font-size: 19cqw;
}

.three {
    font-size: 24cqw;
}

.four {
    font-size: 55cqw;
}

.five {
    font-size: 21cqw;
}

.six {
    font-size: 45cqw;
}

.seven {
    font-size: 71cqw;
}

.eight {
    font-size: 17cqw;
}

.nine {
    font-size: 27cqw;
}

.ten {
    font-size: 71cqw;
}

.eleven {
    font-size: 32.5cqw;
}

.twelve {
    font-size: 23.5cqw;
}

.thirteen {
    font-size: 33.8cqw;
    color: rgb(227, 25, 25);
}

.fourteen {
    font-size: 22.1cqw;
}

.fifteen {
    font-size: 70cqw;
}

.sixteen {
    font-size: 15cqw;
}

.seventeen {
    font-size: 71cqw;
}

.eighteen {
    font-size: 15cqw;
    letter-spacing: 3.05ch;
    letter-spacing: 22.4cqw;
    padding-left: 0.26ch;
}