
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    min-height: 100vh;
}

html {
    color-scheme: dark light;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* https://www.youtube.com/shorts/2lyDv0wOQuQ */

body {
    background-color: #F9F6EE;
    --cont-w: min(12ch, 100% - 2rem)
}

.content {
    width: var(--cont-w);
    margin-inline: auto;
    color: black;
    text-align: center;
    font-family: var(--font-f);
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 0.95;
    margin-block: 15rem;
    border: solid purple 2px;
}

.one {
    font-size: calc(var(--cont-w) / 100vw * 1em);
}

.text-one {
    font-size: calc(var(--cont-w) / 100vw * 1em);
}

/* 
.seven, .ten, .fifteen, .seventeen {
    font-size: 20rem;
}

.one {
    font-size: 12.3rem;
}

.two {
    font-size: 5.25rem;
}

.three {
    font-size: 6.75rem;
}

.four {
    font-size: 15.5rem;
}

.five {
    font-size: 5.8rem;
}

.six {
    font-size: 12.7rem;
}

.eight {
    font-size: 4.7rem;
}

.nine {
    font-size: 7.63rem;
}

.eleven {
    font-size: 9.1rem;
}

.twelve {
    font-size: 6.8rem;
}

.thirteen {
    font-size: 9.6rem;
}

.fourteen {
    font-size: 6.4rem;
}

.sixteen {
    font-size: 4.25rem;
}

.eighteen {
    letter-spacing: 4.6rem;
    padding-inline-start: 0.4rem;
} */


